@page
@model InterviewsApp.WebApp.Pages.Create.CompanyModel
@{
    ViewData["Title"] = "Добавление компании";
}
<style>
    td {
        padding:10px;
    }
</style>
<div>
    <h3 class="localizable">Loc.AddCompanyPage.Title</h3>

    <table>
        <tr>
            <td class="localizable">Loc.AddCompanyPage.CompanyName</td>
            <td><input id="company-name" type="text" width="25em"/></td>
        </tr>
    </table>
    
    <button id="create-button" class="localizable" onclick="createCompany()">Loc.AddCompanyPage.AddCompany</button>
    
    <p class="localizable" id="message"></p>
    <a class="localizable" id="manual-redirect" style="visibility:hidden" href="/">Loc.Common.GoToMainPage</a>
</div>

<script src="/js/creation-pages/create-company-page.js"></script>