@page
@model InterviewsApp.WebApp.Pages.Create.PositionModel
@{
    ViewData["Title"] = "Добавление вакансии";
}
<style>
    td {
        padding: 10px;
    }
    td.edit-cell {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    tbody{
        width:fit-content;
    }
    button {
        margin-left: 10px;
    }
</style>
<div>
    <h3 class="localizable">Loc.AddPositionPage.Title</h3>

    <table>
        <tr>
            <td class="localizable">Loc.AddPositionPage.PositionName</td>
            <td><input id="position-name" type="text" style="width:100%" /></td>
        </tr>
        <tr>
            <td class="localizable">Loc.AddPositionPage.CityName</td>
            <td><input id="city-name" type="text"  style="width:100%"/></td>
        </tr>
        <tr>
            <td class="localizable">Loc.AddPositionPage.CompanyName</td>
            <td class="edit-cell"><select id="company-select"></select><button class="localizable" id="hidden-button" onclick="location.assign('/Create/Company')">Loc.AddPositionPage.NoCompanyImLookingFor</button></td>
        </tr>
    </table>
    
    <button class="localizable" id="create-button" onclick="createPosition()">Loc.AddPositionPage.AddPosition</button>
    <p class="localizable" id="message"></p>
    <a class="localizable" id="manual-redirect" style="visibility:hidden" href="/">Loc.Common.GoToMainPage</a>
</div>

<script src="/js/creation-pages/create-position-page.js"></script>
<script>getCompanies('@Model.CreatedCompany')</script>