@page
@model InterviewsApp.WebApp.Pages.Details.InterviewModel
@{
    ViewData["Title"] = "Просмотр собеседования";
}
<style>
    td {
        padding: 10px;
    }
</style>
<div>
    <h3>Просмотр собеседования</h3>

    <table>
        <tr>
            <td>Название собеседования</td>
            <td id="interview-name"></td>
        </tr>
        <tr>
            <td>Время собеседования</td>
            <td><input id="interview-time" type="datetime-local" disabled /></td>
        </tr>
        <tr>
            <td>Вакансия</td>
            <td id="position-name"></td>
        </tr>
        <tr>
            <td>Компания</td>
            <td id="company-name"></td>
        </tr>
    </table>

    <button id="edit-button" onclick="editInterview()">Редактировать</button>

    <p id="message"></p>
</div>
<script src="/js/details-pages/interview-details.js"></script>
<script>getInterviewInfo('@Model.InterviewId')</script>