@page
@model InterviewsApp.WebApp.Pages.CreateInterviewModel
@{
}
<div>
    <p>Форма создания собеседований.</p>

    <table>
        <tr>
            <td>Название собеседования</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Время собеседования</td>
            <td><input type="datetime-local" /></td>
        </tr>
        <tr>
            <td>Вакансия</td>
            <td><input type="text" /></td>
        </tr>
    </table>
</div>