@page
@model InterviewsApp.WebApp.Pages.CreateCompanyModel
@{
}
<style>
    td {
        padding:10px;
    }
</style>
<div>
    <p>Форма добавления компании.</p>

    <table>
        <tr>
            <td>Название компании</td>
            <td><input type="text" /></td>
        </tr>
    </table>
    
    <button id="create-button" onclick="createCompany()">Добавить компанию</button>
</div>