@page
@model IndexModel
@{
    ViewData["Title"] = "Мои собеседования";
}
<script type="text/javascript" src="js/main-page.js"> </script>
<div class="text-center">
    <h1 id="welcome-text" class="display-4">Добро пожаловать!</h1>
    <p>Здесь отображаются собеседования, которые вам предстоят.</p>
</div>
<button id="add-interview-button" onclick="location.assign('/Create/Interview');" style="margin-bottom:15px">Добавить новое собеседование</button>
<table data-toggle="table" data-ajax="getInterviews" data-sort-name = "date" data-sort-order="asc">
  <thead>
    <tr>
      <th data-field="interviewId" data-visible="false">ID Интервью (не должен отображаться)</th>
      <th data-field="name" data-sortable="true" data-formatter="interviewFormatter">Название собеседования</th>
      <th data-field="date" data-sortable="true" data-formatter="dateFormatter">Дата собеседования</th>
      <th data-field="positionId" data-visible="false">ID вакансии (не должен отображаться)</th>
      <th data-field="positionName" data-sortable="true" data-formatter="positionFormatter">Вакансия</th>
      <th data-field="companyId" data-visible="false">ID компании (не должен отображаться)</th>
      <th data-field="companyName" data-sortable="true" data-formatter="companyFormatter">Компания</th>
    </tr>
  </thead>
</table>
