@page
@model InterviewsApp.WebApp.Pages.InterviewDetailsModel
@{
}
<div>
    <h3 id="interview-title">@Model.InterviewId</h3>
    <script src="~/js/start.js"></script>
    <table style="border-style:none">
        <tr>
            <td>Время собеседования</td>
            <td><input id="interview-datetime" type="datetime-local" disabled/></td>
        </tr>
        <tr>
            <td>Вакансия</td>
            <td><p id="interview-position"></p></td>
        </tr>
    </table>
    <script>getInterviewData('@Model.InterviewId')</script>
</div>