@page
@model InterviewsApp.WebApp.Pages.Details.CompanyModel
@{
    ViewData["Title"] = "Просмотр компании";
}
<style>
    td {
        padding:10px;
    }
</style>
<div>
    <h3>Просмотр компании</h3>

    <table>
        <tr>
            <td>Название компании</td>
            <td id="company-name"></td>
        </tr>
        <tr>
            <td>Рейтинг компании</td>
            <td id="company-rating"></td>
        </tr>
    </table>
    
    <button id="edit-button" onclick="editCompany()">Редактировать</button>
    
    <p id="message"></p>
</div>
<script src="/js/details-pages/company-details.js"></script>
<script>getCompanyInfo('@Model.CompanyId')</script>