@page
@model InterviewsApp.WebApp.Pages.Details.PositionModel
@{
    ViewData["Title"] = "Просмотр вакансии";
}
<style>
    td {
        padding:10px;
    }
</style>
<div>
    <h3>Просмотр вакансии</h3>

    <table>
        <tr>
            <td>Название вакансии</td>
            <td id="position-name"></td>
        </tr>
        <tr>
            <td>Город вакансии</td>
            <td id="city-name"></td>
        </tr>
        <tr>
            <td>Компания</td>
            <td id="company-name"></td>
        </tr>
    </table>
    
    <button id="edit-button" onclick="editPosition()">Редактировать</button>
    
    <p id="message"></p>
</div>
<script src="/js/details-pages/position-details.js"></script>
<script>getPositionInfo('@Model.PositionId')</script>
