@page
@model IndexModel
@{
    ViewData["Title"] = "Мои собеседования";
}
<script type="text/javascript" src="js/main-page.js"> </script>
@*<div class="text-center">
    <h1 id="welcome-text" class="display-4">Добро пожаловать!</h1>
    <p>Здесь отображаются собеседования, которые Вам предстоят.</p>
</div>*@
<div class="localizable" style="display: flex;justify-content: space-between;">
    <button id="add-interview-button" onclick="location.assign('/Create/Interview');" style="margin-bottom:15px">Loc.MainPage.AddNewInterview</button>
    <div>
        <input type="checkbox" id="showOnlyFuture" name="showOnlyFuture" onchange="updateFuture()">
        <label class="localizable" for="showOnlyFuture">Loc.MainPage.OnlyFutureFlag</label>
        <script>setCheckbox("@Model.OnlyFuture")</script>
    </div>
</div>
<table id="interviews-table" data-toggle="table" data-ajax="getInterviews" data-sort-name="date" data-sort-order="asc" data-row-style="rowStyle">
    <thead>
        <tr>
            <th class="localizable" data-field="interviewId" data-visible="false">ID Интервью (не должен отображаться)</th>
            <th class="localizable" data-field="name" data-sortable="true" data-formatter="interviewFormatter">Loc.MainPage.Table.InterviewName</th>
            <th class="localizable" data-field="date" data-sortable="true" data-formatter="dateFormatter">Loc.MainPage.Table.InterviewDate</th>
            <th class="localizable" data-field="positionId" data-visible="false">ID вакансии (не должен отображаться)</th>
            <th class="localizable" data-field="positionName" data-sortable="true" data-formatter="positionFormatter">Loc.MainPage.Table.PositionName</th>
            <th class="localizable" data-field="companyId" data-visible="false">ID компании (не должен отображаться)</th>
            <th class="localizable" data-field="companyName" data-sortable="true" data-formatter="companyFormatter">Loc.MainPage.Table.CompanyName</th>
            <th class="localizable" data-field="offerReceived" data-visible="false">Получен оффер</th>
            <th class="localizable" data-field="denialReceived" data-visible="false">Получен отказ</th>
        </tr>
    </thead>
</table>
