@page
@model InterviewsApp.WebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Вход";
}
<style>
    td {
        padding:10px;
    }
</style>
<script src="/js/login-page.js"></script>
<script>document.getElementById("logout-button").style = "visibility:hidden";</script>
<div class="text-center">
    <table style="margin:auto">
        <tr>
            <td class="localizable">Loc.Login.Login: </td>
            <td><input id="login" type="text"/></td>
        </tr>
        <tr>
            <td class="localizable">Loc.Login.Password: </td>
            <td><input id="password" type="password" /></td>
        </tr>
    </table>
    <button class="localizable" id="login-button" onclick="login()">Loc.Login.SignIn</button>
    <button class="localizable" id="register-button" onclick="location.assign('/Register')">Loc.Login.SignUp</button>
    
    <p id="message" style="margin:20px;"></p>
</div>
<script>if(Cookies.get(currentUserId)) location.assign("/")</script>