@page
@model InterviewsApp.WebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Вход";
}
<style>
    td {
        padding:10px;
    }
</style>
<script src="/js/login-page.js"></script>
<div class="text-center">
    <table style="margin:auto">
        <tr>
            <td>Логин: </td> 
            <td><input id="login" type="text"/></td>
        </tr>
        <tr>
            <td>Пароль: </td> 
            <td><input id="password" type="password" /></td>
        </tr>
    </table>
    <button id="login-button" onclick="login()">Войти</button>
    <button id="register-button" onclick="location.assign('/Register')">Зарегистрироваться</button>
    
    <p id="message" style="margin:20px;"></p>
</div>
