@page
@model InterviewsApp.WebApp.Pages.PositionsModel
@{
    ViewData["Title"] = "Мои вакансии";
}
<script type="text/javascript" src="js/main-positions-page.js"> </script>
@*<div class="text-center">
    <p>Здесь отображаются предложенные Вам вакансии.</p>
</div>*@
<div style="display: flex;justify-content: space-between;">
    <button class="localizable" id="add-position-button" onclick="location.assign('/Create/Position');" style="margin-bottom:15px">Loc.PositionPage.AddNewPosition</button>
</div>
<table id="positions-table" data-toggle="table" data-ajax="getPositions" data-sort-name="denialReceived" data-sort-order="desc" data-row-style="rowStyle">
    <thead>
        <tr>
            <th class="localizable"  data-field="id" data-visible="false"></th>
            <th class="localizable"  data-field="name" data-sortable="true" data-formatter="positionFormatter">Loc.MainPage.Table.PositionName</th>
            <th class="localizable"  data-field="companyId" data-visible="false"></th>
            <th class="localizable"  data-field="companyName" data-sortable="true" data-formatter="companyFormatter">Loc.MainPage.Table.CompanyName</th>
            <th class="localizable"  data-field="offerReceived" data-visible="false"></th>
            <th class="localizable"  data-field="denialReceived" data-visible="false"></th>
        </tr>
    </thead>
</table>